
.detailed-title{
  position: relative;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}

.center{
    text-align: center;
}
.detailed-content{
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1rem;
}
.detailed-comments{
  padding: 1rem 3rem 5rem 3rem;
  font-size: 1rem;
  &-title{
    width: 100%;
    height: 2rem;
    color: @secondary-color;
    border-bottom: 1px solid @secondary-color;
  }
  .commentsItem{
    margin-top: 1rem;
    border-radius: 15px;
    border: 1px solid #bbb;
  }
  .comments-item{
    padding: .7rem .5rem;
    margin-top: .7rem;
    display: flex;
    .icon{
      width: 4rem;
      height: 4rem;
      background-color: salmon;
      border-radius: 50%;
    }
    .contaner{
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      padding-left: 1rem;
      .unamed {
        display: flex;
        align-items: center;
        font-size: .9rem;
        .name{
          color: @primary-color;
        }
      }
      .unamed>div:nth-child(n+2){
        padding-left: .5rem;
      }
      .time {
        color: #bbb;
        font-size: .9rem;
        display: flex;
      }
      .time>div:nth-child(2) {
        padding-left: .5rem;
      }
      .time,.content{
        margin-top: .5rem;
      }
    }
  }
  .reply{
    padding-left: 5rem;
  }
}
@media screen and (max-width: 700px){
  .detailed-content{
    padding: 0rem .4rem 5rem 0rem;
    font-size: 1rem;
  }
}
.detailed-content h2{
  position: relative;
  padding-left: 1rem;
}
.detailed-content h2::after{
  position: absolute;
  content: '';
  width: .3rem;
  height : 80%;
  background-color: @primary-color;
  top: 10%;
  left: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.title-anchor{
    color:#888 !important;
    padding:4px !important;
    margin: 0rem !important;
    height: auto !important;
    line-height: 1.2rem !important;
    font-size: .7rem !important;
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.active{
    color:rgb(30, 144, 255) !important;
}
.nav-title{
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);

}
.article-menu{
    font-size:12px;
}
iframe{
    height: 34rem;
}
.detailed-content  img{
    width: 100%;
    border:1px solid #f3f3f3;
}
.title-level3{
    display: none !important;
}
.ant-anchor-link-title{
    font-size: 12px !important;
}
.ant-anchor-wrapper{
    padding: 5px !important;
}
